<div class="jumbotron">
    <h3>How it works</h3>
    <p class="lead">This is a map reduce framework for computing prime numbers, first running a probabilistic test, and then running a trial by division test.</p>
    <p><a href="https://en.wikipedia.org/wiki/Miller%E2%80%93Rabin_primality_test" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Run Map Reduce</h2>
        <p>Click the button below to begin sending map reduce jobs to the nodes</p>
        <p><a class="btn btn-default" href="#" onclick="compute()">Run &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Primes Discovered</h2>
        <p>Below is a list of primes discovered by the last run:</p>
        <p id="primes">No last run</p>
    </div>
    <div class="col-md-4">
        <h2>Report</h2>
        <p id="output">No last run</p>
    </div>
</div>
